# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# OS
.DS_Store
Thumbs.db

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs

# Unity meta
*.pidb
*.booproj
